<!--
markerArray.launch: ROS Launch file to track AR marker bundle for robust kinect and mocap calibration.
Requirements: ar_track_alvar installed, Array.xml file with calibration info and kinect2_bridge up and running
Author: Nishanth Koganti
Date: 2015/8/20

TODO:
1) Improve Array.xml file for robust tracking of marker
2) Test working of calibration codes with marker bundle
3) If accuracy is improved, replace with older calibration technique
-->

<launch>
  <arg name="marker_size" default="4.6" />
  <arg name="max_new_marker_error" default="0.2" />
  <arg name="max_track_error" default="0.05" />

  <arg name="cam_image_topic" default="/kinect2/sd/points" />
  <arg name="cam_info_topic" default="/kinect2/sd/camera_info" />

  <arg name="output_frame" default="/kinect2_link" />
  <arg name="med_filt_size" default="10" />
  <arg name="bundle_files" default="$(find cloth_assist_interface)/files/KinectCalibration/Array.xml" />

  <node name="ar_track_alvar" pkg="ar_track_alvar" type="findMarkerBundles" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame) $(arg med_filt_size) $(arg bundle_files)" />
</launch>
